main {
    background: #e7e7e7;
    height: 100vh;
    display: flex;
}
body {
    font-family: 'Karla', sans-serif;
}
button {
    font-family: 'Karla', sans-serif;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Poppins', sans-serif
}